/* html, body, #app, #main, #main-content, #root{ */
    html, body {
        height: 100%;
    }
.full-height {
    height: 100%;
    overflow: hidden;
}

#main-content {
    height: 100%;
    overflow: auto;
}

#main #main-content {
    padding-left: 2rem !important;
}

.navbar {
    padding: 1rem 1.8rem !important;
}

.page-heading {
    margin: 0 0 1rem !important;
}
